*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper (if you want to ignore the jar, though standard practice is to commit it)
# gradle/wrapper/gradle-wrapper.jar

# App module specific build folders
app/build/
